.site-main {
    max-width: 991px;
    margin: 0 auto;
    padding: 0 20px;
}

#site__header {
    color: red;
    padding: 20px 0;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_login a {
    text-decoration: none;
}

.site__footer {
    margin-top: 50px;
}

form {
    max-width: 350px;
}

.form-group {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

button.btn {
    cursor: pointer;
}

.error {
    margin-top: 20px;
    color: red;
    font-style: italic;
}

.header_name {
    padding-right: 20px;
}

.link {
    margin-top: 50px;
}

.upload {
    margin-top: 50px;
}